body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333333;
    color: #fff;
}
#AboutNav ul li a:hover{
    color:#4b4b4b;
}
.AboutContainer{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.PersonalInfo-Text{
    background-color: #cccccc;
    padding: 10px;
    clear: both;
}
.PersonalInfo-Text img {
    float: left;
    margin-right: 15px;
}
.PersonalInfo-Text, .PersonalInfo-Text img{
    border: 3px, solid, rgb(67, 67, 67);
    border-radius: 5px;
}
.companyPhoto{
    width: 150px;
    height: 150px;
}

/* source for how to do dropdown menu https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropdown-button{
    background-color: #333;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    border: none;
}

.dropdown-menu{
    position: relative;
    display: inline-block; /* this is the key to making it vertical and not horizonatally oriented */
}

.dd-content{
    display: none;
    position: absolute;
    background-color: #333;
    box-shadow: 0rem, .5rem, 1rem, 0rem rgba(0, 0, 0, .2);
}

.dropdown-menu:hover .dd-content {
    display: block;
}

.dd-content a{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dd-content a:hover{
    background-color:#757373;
}

.dropdown-menu:hover .dropdown-button{
    color: lightblue
}

.review{
    background-color: #eeecec;
    border-radius: 3%;
    margin: 2rem;
}

.hours p{
    color:#afaeae;
    line-height: 1rem;
}
 .leave_review{
    width: 25%;
    background-color: #eeecec;
    border-radius: 3%;
 }

 .leave_review label, .leave_review input{
    padding-right: 10rem;
 }
#service-page details {
    background: white;
    border: 1px solid #c8bcbc;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    transition: all 0.3s ease-in-out;
}

/* source for how to do this kindd of dropdown: https://dev.to/ayushn21/details-summary-tags-html-s-best-kept-secret-4ak4 */
/* Also: https://www.w3schools.com/tags/tag_summary.asp */
#service-page summary {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}

#service-page summary:hover {
    color: #1d5590;
}
