body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333333;
    color: #fff;
}
#AboutNav ul li a:hover{
    color:#4b4b4b;
}

#KeiraIMG{
    width: 50px;
    height: 50px;
    border: 3px, solid, rgb(67, 67, 67);
    border-radius: 5px;
}

#service-page details {
    background: white;
    border: 1px solid #c8bcbc;
    border-radius: 5px;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    transition: all 0.3s ease-in-out;
}

#service-page summary {
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    font-size: 18px;
}

#service-page summary:hover {
    color: #1d5590;
}
